img{
    border: 5px solid white;
    width: 100%;
}
h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

html{
    background-color: lightslategray;
}
p{
    text-align: center;
}