<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
        <%for (let i = 0 ; i < postslist.length ; i++){%>
         <% console.log(`/blog/${postslist[i].topic}` ) %>
          <form action = <%=blogtopic%> method = "get">
          <input type = "submit" value = <%=postslist[i].topic%>>
          </form>
            
          
        <%}%>
    <form action="/write" method="get">
    <input type="submit" value="creat a post">
    </form>
    
    </form>
</body>
</html>